@using Days;
@using Controllers;
@using WeatherApi;
@inject WeatherService weatherService;

@page "/day"

<EditForm Model="@day" OnValidSubmit="@HandleValidSubmit" class="custom-form">
    <div class="form-group">    
        <label for="date">Date</label>
        <InputDate id="date" @bind-Value="day.Date" />
    </div>
    <div class="form-group">
        <label for="sleep">How was your sleep?</label>
        <InputSelect id="sleep" @bind-Value="day.QualityOfSleep">
            @for (int x = 0; x <= 10; x++)
            {
                <option value="@x">@x</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">    
        <label for="sport">How much sport did you do?</label>
        <InputSelect id="sport" @bind-Value="day.Sport">
            @for (int x = 0; x <= 10; x++)
            {
                <option value="@x">@x</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">       
        <label for="sex">Sexual activity?</label>
        <InputSelect id="sex" @bind-Value="day.Sex">
            @for (int x = 0; x <= 10; x++)
            {
                <option value="@x">@x</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">      
        <label for="alcohol">Did you drank alcohol?</label>
        <InputSelect id="alcohol" @bind-Value="day.Alcohol">
            @for (int x = 0; x <= 10; x++)
            {
                <option value="@x">@x</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">      
        <label for="healthStatus">How did you feel today? 5 is average</label>
        <InputSelect id="healthStatus" @bind-Value="day.HealthStatus">
            @for (int x = 0; x <= 10; x++)
            {
                <option value="@x">@x</option>
            }
        </InputSelect>
    </div>
    <div class="form-group">      
        <label for="mentalStatus">How did you feel today mentally? 5 is average</label>
        <InputSelect id="mentalStatus" @bind-Value="day.MentalStatus">
            @for (int x = 0; x <= 10; x++)
            {
                <option value="@x">@x</option>
            }
        </InputSelect>
    </div>    
    <div class="form-group">                              
        <label for="drugs">Which drugs did you take?</label>
        <InputText @bind-Value="day.Drug" />
    </div>
    <div class="form-group">                              
        <label for="comment">Did you eat something special?</label>
        <InputText @bind-Value="day.Food" />
    </div>       
    <div class="form-group">                              
        <label for="comment">Make a comment.</label>
        <InputText @bind-Value="day.Comment" />
    </div>      
    <div class="form-group">                              
        <label for="drugs">In which city do you live?</label>
        <InputText @bind-Value="day.City" />
    </div>    
    <button type="submit">Submit</button>
</EditForm>

@code {
    private Day day = new() {};
    DataController dataController = new DataController();
    private int airPressure;

    protected override async Task OnInitializedAsync()
    {
        day.Date = DateTime.Now;
        airPressure = 0;
        try
        {
            airPressure =  await weatherService.GetAirPressureAsync("Munich");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private void HandleValidSubmit()
    {
        if (day is not null )
        {
            day.AirPressure = airPressure;
            dataController.SaveDay( day, day.Date, "DataBase\\" );
        }
    }
}
