@using Days;

@page "/day"

<h1>AddDay (@days.Count(day => !day.IsDone))</h1>

<EditForm Model="@day" OnValidSubmit="@HandleValidSubmit">
    Datum:
    <InputDate @bind-Value="day.Date" />
    <br/>
    Wie haben sie geschlafen?
    <InputSelect @bind-Value="day.QualityOfSleep">
        @for (int x = 1; x <= 10; x++)
        {
            <option value="@x">@x</option>
        }
    </InputSelect>
    <br/>
    <InputText placeholder="Enter Title" @bind-Value="day.Title" />
    <br/>
    <button type="submit">Submit</button>
</EditForm>

<hr>

@foreach (var titles in daysFromDisk)
{
    <li>
        <h2>@titles.Title</h2>
    </li>
}

@code {
    private Day day = new() {};
    private List<Day> days = new();
    private List<Day> daysFromDisk = new();
    Persistence.SaveToFile db = new Persistence.SaveToFile();
    Persistence.LoadFromFile getFiles = new Persistence.LoadFromFile();

    protected override void OnInitialized()
    {
        daysFromDisk = getFiles.ObjectsFromFile();
    }

        private void HandleValidSubmit()
        {
            if (!string.IsNullOrWhiteSpace(day.Title))
            {
                days.Add(day);
            }
            if (day is not null && !string.IsNullOrWhiteSpace(day.Title))
            {
                db.ObjectToFile( day, day.Title );
            }
        }
}
