@using Controllers;
@using HealthMonitor.Components;
@using RadzenBlazorDemos;

@inject DialogService DialogService;

@page "/"

<h1>Overview and Statistics</h1>

<br/>
<RadzenAccordion>
    <Items>
        <RadzenAccordionItem Text="Days with Bad health in the last 30 days:" Icon="accessibility">
            @daysController.GetDaysWithIn30Days().Count days with health below average.
        </RadzenAccordionItem>           
        <HealthMonitor.Components.AirpressureSection daysWithLowHealth="@daysController.GetDaysWithLowHealth()" />
        <RadzenAccordionItem Text="The following potential triggers could be identified:" Icon="accessibility">
            <ul>
                @foreach (var item in @daysController.printResultList())
                {
                        @item
                        <br>                                   
                }  
            </ul>  
        </RadzenAccordionItem>          
        <HealthMonitor.Components.DrugSection daysWithDrugUsage="@daysController.GetDaysWithDrugUsage()" daysSinceLAstPainkiller="daysController.DaysSinceLastPainkiller()" />  
        <HealthMonitor.Components.FoodSection daysWithFood="@daysController.GetDaysWithFood()" />   
    </Items>
</RadzenAccordion>

<br/>

<RadzenScheduler @ref=@scheduler style="height: 768px;" TItem="DailyHealthStatus" Data="@daysController.GetDaysWithLowHealthList()" StartProperty="Start" EndProperty="End"
    TextProperty="Text" SelectedIndex="1">
    <RadzenMonthView />
    <RadzenYearView />
</RadzenScheduler>

@code {
    private DaysController daysController = new DaysController();    
    RadzenScheduler<DailyHealthStatus>? scheduler;
}
