@using Controllers;
@using HealthMonitor.Components;
@using RadzenBlazorDemos;
@using Days;
@using System.Globalization

@inject DialogService DialogService;
@inject TimeLineController TimeLineController;

@page "/timeline"

<h1 style="color: @color;">Health Status Timeline</h1>
    <br/>
    <div class="form-group">                              
        <label for="comment">Please select a month</label>
        <InputSelect @bind-Value="selectedValue" @oninput="OnMonthSelectionChange">
            @foreach (var month in dropdownValues)
            {
                <option value="@month">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(month)</option>
            }
        </InputSelect>
    </div>
    <RadzenCard class="w-100 mb-4" Style="display: flex; align-items: center; gap: 0.5rem" >
        <RadzenCheckBox @bind-Value="@smooth" Name="smooth"></RadzenCheckBox>
        <RadzenLabel Text="Smooth" For="smooth" Style="margin-right: 1rem;"/>
        <RadzenCheckBox @bind-Value="@showDataLabels" Name="dataLabels"></RadzenCheckBox>
        <RadzenLabel Text="Show Data Labels" For="dataLabels" />
         <p style="color: #4340d2;">- For the month @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(selectedValue)</p>
    </RadzenCard>
    <RadzenChart>
        <RadzenLineSeries Smooth="@smooth" Data="@daysForTimeLine" CategoryProperty="Date" Title="Health Status" LineType="LineType.Dashed" ValueProperty="Health">
            <RadzenMarkers MarkerType="MarkerType.Square" />
            <RadzenSeriesDataLabels Visible="@showDataLabels" />
        </RadzenLineSeries>
        <RadzenLineSeries Smooth="@smooth" Data="@daysForTimeLine" CategoryProperty="Date" Title="Mental Status" LineType="LineType.Dashed" ValueProperty="Mental">
            <RadzenMarkers MarkerType="MarkerType.Square" />
            <RadzenSeriesDataLabels Visible="@showDataLabels" />
        </RadzenLineSeries>
        <RadzenCategoryAxis Padding="20" Formatter="@FormatAsDayOfTheMonth" />
        <RadzenValueAxis>
            <RadzenGridLines Visible="true" />
            <RadzenAxisTitle Text="Status from 1 to 10" />
        </RadzenValueAxis>
    </RadzenChart>
<br/>


@code {      
    bool smooth = true;
    bool showDataLabels = true;
    private int actualMonth = DateTime.Today.Month;
    IList<DailyHealthForTimeLine>? daysForTimeLine;
    private List<int> dropdownValues = new List<int>(Enumerable.Range(1, 12));
    private int selectedValue = DateTime.Today.Month;   
    private string color = "#4340D2";       

    string FormatAsDayOfTheMonth(object value)
    {
        if (value != null)
        {
            return Convert.ToDateTime(value).ToString("dd");
        }

        return string.Empty;
    }
    protected override void OnInitialized()
    {
        UpdateTimeline();
    }

    private void OnMonthSelectionChange(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out var selectedMonth))
        {
            actualMonth = selectedMonth;
            UpdateTimeline();
        }
    }

    private void UpdateTimeline()
    {
        daysForTimeLine = TimeLineController.GetAllDaysForTimeLine(actualMonth);
        StateHasChanged();
    }         
}
